* {
    background-color: #202124;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }
#navbar {
    background-color: #202124;
    min-width: 100%;
    height: 30px;
}
#navbar-link {
    margin-right: 100px;
}
.navbar-links {
    font-size: 12px;
    font-family: arial, sans-serif;
    color: aliceblue;
    text-decoration: none;
    float: right;
    margin: 5px;
    margin-right: 20px;
    margin-top: 15px ;
    cursor: pointer;

}
.navbar-links:hover{
    text-decoration: underline;
}

#container {
    background-color: #202124;
    max-width: 100%;
    max-height: 100%;
}
#logo {
    position:absolute;
    left:43%;
    top:28%;
    margin-left:-50px;
    margin-top:-50px;
    width: 272px;
    height: 92px;
    background-color: #202124;
}
#search-line {
    background-color: #5F6368;
    position:absolute;
    width: 490px;
    height: 45px;
    left:35%;
    top:47%;
    margin-left:-50px;
    margin-top:-50px;
    border-radius: 25px;
    border-style: none;
    display: flex;
}

#search {
    background-color: #5F6368;
    width: 350px;
    height: 30px;
    margin-top: 8px;
    color: white;
    border-style: none;

}
#cam {
    margin: 11px;
    background-color: #5F6368;
    width: 20px;
    height: 20px;
}